
p {
    color: blue; 
}
.selector-for-some-widget {
    box-sizing: content-box;
} 
.toAddSpace {
    margin-top: 100px; 
}
.container {
    // border: 1px solid black; 
}
.goToMid {
    text-align: center;
}