.selector-for-some-widget {
    box-sizing: content-box;
} 
.toAddSpace {
    margin-top: 80px;
}
.form-style {
    margin-right: 20%;
    background-color: transparent !important;
    border: none !important;
}
.radio-style {

}


